<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h2>Refistro de usuario</h2>

    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}

        </table>

        <input type="reset" value="Limpiar">
        <input type="submit" value="Registrar">

    </form>
    
</body>
</html>