{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crustaceo Cascarudo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="{% static 'librerias/fontawesome/all.min.css' %}">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
          <img src="{% static 'foto/logo.jng' %}" alt="Logo Crustaceo Cascarudo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/">Formulario</a>
              <a class="nav-link active" href="{% url 'cliente_list' %}">Administración</a>
              <a class="nav-link" href="/admin">Django Admin</a>
          </div>
      </div>
  </nav>

<!-- Listado -->
<div class="admin cliente"> 
    <h3>Administración clientes <a class="btn btn-success" href="{% url 'cliente_add' %}"><i class="fas fa-plus-circle"></i> Agregar nuevo</a></h3>  

    <h5 class="card-title"><a href="{% url 'cliente_detail' pk=cliente.pk %}">{{ cliente.nombre }}</a></h>

    <p class="card-text"><a class="btn btn-default" href="{% url 'cliente_edit' pk=cliente.pk %}">Editar</a></p>

    <p class="card-text"><a class="btn btn-danger" href="{% url 'cliente_delete' pk=cliente.pk %}">Eliminar</a></p>