<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-xl-12">
        <label for="nombre">Nombre y Apellido</label>
        <input id="nombre" required  type="text" name="nombre" minlength="5"  placeholder="Ej:Nombre Apellido">
      </div>
      <br>
      <div class="col-xl-12">
        <label for="rut" >Rut</label>
        <input id="rut" type="text" name="rut" minlength="9" maxlength="10" placeholder="Ej:12345678-9">
      </div>
      <br>
      <div class="col-xl-12">
        <label for="correo">Correo</label>
        <input id="correo" required  type="text" name="correo"   placeholder="Ej:nombre@Correo.com">
      </div>
      <br>
      <div class="col-xl-12">
        <label for="fono">Telefono</label>
        <input id="fono" required  type="number" name="correo"  placeholder="Ej:9 9999 9999">
      </div>

        {{ form.as_p }}
        <button type="submit">Agregar</button>
    </form>
