#alcohol:checked ~ #imagenes .comida,#alcohol:checked ~
#imagenes .jugo{
  display: none;
}
#comida:checked ~ #imagenes .alcohol,#comida:checked ~
#imagenes .jugo{
  display: none;
}
#jugo:checked ~ #imagenes .comida,#jugo:checked ~
#imagenes .alcohol{
  display: none;

}
.container{
  background-color: #000000;
}
.Encabezado
{
  background-color:#000000;

  text-align: center;
  padding: 20px;

}
.alcohol p
{
  margin-top: 40px;
}
.comida p
{
  margin-top: 40px;
}
.jugo p
{
  margin-top: 40px;
}
.alcohol a{
  margin-left: 180px;
  margin-bottom: 20px;
  color:white;
}
.comida a{
  margin-left: 180px;
  margin-bottom: 20px;
  color:white;
}
.jugo a{
  margin-left: 180px;
  margin-bottom: 20px;
  color:white;
}
.Encabezado a
{
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  height: 10px;
  font-family: Arial;
}

.Encabezado a:hover
{
  background-color: #6FF5D6;

}

.Encabezado img
{
  height: 50px;
  float: left;
  margin-top: -10px;

}


.letras
{
font-size: 20px;
font-family: arial ;
}

.filtro{
background-color:#9ec21d;
text-align: center;
font-family: arial;
padding-top:  30px;
}

.comidaR{

  text-align: left;
  padding: 90px;
  background-color:#9ec21d;

}
.comidaR h1{
  text-align: center;
}
.comidaR p{
  margin-left: 10px;
}
.comidaR img{
  height: 100px;
  width: 190px;
  margin-left: 150px;
}
.alcohol {
  border-style: outset;
  border-width: 1px;
  border-color: red;
}
.comida{
  border-style: outset;
  border-width: 3px;
  border-color: white;
}
.jugo{
  border-style: outset;
  border-width: 1px;
  border-color: red;
}
.ultimo
{
    background-color: #000000;
    height: 50px;
    padding-top: 25px;
}

.ultimo p

{

  text-align: center;
  margin-top: -12px;
  font-family: Arial;
}
