.container
{
background-color: #9ec21d;

}

.Encabezado
{
  background-color:#000000;
  text-align: center;
  padding: 20px;

}
.Encabezado a
{
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  height: 10px;
  font-family: Arial;
}

.Encabezado a:hover
{
  background-color: #6FF5D6;

}


.Encabezado img
{
  height: 50px;
  float: left;
  margin-top: -10px;

}

.Formulario button {
  margin-left: 40%;
}


.ultimo
{

    margin-top: 10px;
    background-color: #000000;
    height: 50px;


}

.ultimo p

{

  text-align: center;
  margin-top: -12px;
  font-family: Arial;
}
