
.Encabezado
{
  background-color:#000000;
  text-align: center;
  padding: 20px;

}
.carousel
{
  background-color: #9ec21d;
}
.carousel img{
  height: 250px;
  margin-top: 10px;
}
.carousel-inner{

  margin-left: 500px;
  height: 300px;
}

.Encabezado a
{
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  height: 10px;
  font-family: Arial;
}

.Encabezado a:hover
{
  background-color: #6FF5D6;

}


.Encabezado img
{
  height: 50px;
  float: left;
  margin-top: -10px;

}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.marcas{
  position:relative;
  width: 250px;
  height: 250px;
}
ul.marcas li {
    position: absolute;
    left: 820px;
    top: 45px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:white;

}
ul.marcas li img{
  left: 450px;
  width: 250px;
  height: 250px;
}
ul.marcas li:first-child {
    opacity: 1; 
}
ul.marcas li:target {
    opacity: 1; 
}
.categoria{
  text-align: center;
  margin: 20px;

}
.categoria li{
  display: inline-block;
  text-align: center;
  padding-top: 50px;
}
.categoria li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}




.Parrafo1
{

  background-color: #9ec21d;
  height: auto;
  font-family:Arial;
}
.Parrafo1 a
{
  margin-left: 300px;
}
.Parrafo1 img
{
  width: 250px;
  height: 200px;
  float: left;
  margin-top: 5px;
}
.Parrafo1 p
{
  margin-left: 250px;

}
.parrafo2 p
{
  margin-top: -198px;

}
.parrafo2
{
  background-color: #9ec21d;
  font-family: Arial;
}
.parrafo2 a
{
  height: auto;
    margin-left: 500px;
    margin-bottom: 35px;
}
.parrafo2 img
{
  width: 250px;
  height: 200px;
  

}

.derecha{
  
  text-align: right;

}

.ultimo
{
    width: 800px;
    margin-top: 50px;
    background-color: #000000;
    height: 50px;


}

.ultimo p

{

  text-align: center;
  margin-top: -12px;
  font-family: Arial;
}
