{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/Principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="container col-xl-12">
  <div class="row">
    <div class="Encabezado col-xl-12">
      <a href="#">Bienvenido</a>
      <a href="/menu/">Menú</a>
      <a href="/">Compra aquí</a>
      {% if user.is_authenticated%}
      <a href="#">Usuario:{{ user.username }}</a>
      <a href="{% url 'logout' %}">Cerrar sesión</a>
      {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a>
      <a href="{% url 'registrar_usuario' %}">Registrar</a>
      {% endif %}

      <img src="{% static 'foto/Logo.jpg' %}" alt="">

      </div>

    <div id="carusel" class="carousel slide col-xl-12" data-ride="carousel">
      <ol class="carousel-indicators col-xl-9">
        <li data-target="#carusel" data-slide-to="0" class="active"></li>
        <li data-target="#carusel" data-slide-to="1"></li>
        <li data-target="#carusel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner col-xl-3">
        <div class="carousel-item active">
          <img src="{% static 'foto/completo.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'foto/pizza.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'foto/hamburguesa.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>

      <a class="carousel-control-prev" href="#carusel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carusel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

    <div class="row">


    <div class="Parrafo1 col-6">
    <h1> Super Combo Cascarudo :<br> $4.990</h1>
      <img src="{% static 'foto/comboCascarudo.jpg' %}" alt="">
      <p>  Prepárate para complacer tu estómago<br>
         Super Combo Cascarudo
   </p>
  <a href="/"class="btn btn-dark">Contacto</a>

    </div>

    <div class="parrafo2 col-6">
      <h1>Cangre burguer:<br> $ 2.490 </h1>
      <img src="{% static 'foto/hamburguesa1.jpg' %}" alt="">
      <p class="derecha">Placer por cada hamburguesa.<br>
  Cada segundo en mano, es disfrutar cada momento </p>

      <a href="/"class="btn btn-dark">Contacto</a>
    </div>
    </div>
    <footer class="ultimo col-xl-12">
    <p> Crustaceo Cascarudo </p>


    </footer>

  <script src="{% static 'js/bootstrap.js' %}">

  </script>
  </div>
</div>
  </body>
</html>
