{% load static %}

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/Bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="stylesheet" href="{% static 'css/Comida.css' %}">
    <meta charset="utf-8">
    <title>Crustaceo Cascarudo Menú</title>
  </head>
  <body>
<div class="container col-xl-12">
    <div class="Encabezado col-xl-12">
      <a href="/inicio/">Bienvenido</a>
      <a href="#">Menú</a>
      <a href="/">Compra aquí</a>
      <img src="{% static 'foto/logo.jpg' %}" alt="">
      
    </div>
    <div class="filtro">
      <input type="radio" name="filtro" id="todo">
      <label class="letras" for="todo">Todos</label>
      <input type="radio" name="filtro" id="alcohol">
      <label class="letras"for="alcohol">Alcohol</label>
      <input type="radio" name="filtro" id="comida">
      <label class="letras" for="comida">Menú</label>
      <input type="radio" name="filtro" id="jugo">
      <label class="letras"for="jugo">Bebestibles</label>
    <div id=imagenes class="col-xl-12">
            <div class="comidaR col-xl-12">
              <div class="row">
                  <div class="alcohol col-xl-4">
                      <h1>Cervezas </h1>
                      <img src="{% static 'foto/cervezas.jpg' %}" alt="" >
                      <p> Las mejores cervezas del país y del mundo. <br>
                          <br><br>Desde $3.990<br></p >
                        <a href="/"class="btn btn-dark">Comprar</a>

                  </div>
                  <div class="alcohol col-xl-4">
                      <h1>Alcohol</h1>
                      <img src="{% static 'foto/alcohol2.jpg' %}" alt="" >
                      <p>Contamos con la licencia para vender alcohol en nuestros locales y delivery. <br>                        
                      <br><br>Desde $2.990, Envios en todo Santiago desde $1.990 valor del envio varia según comuna.<br></p >
                        <a href="/"class="btn btn-dark">Comprar</a>
                  </div>
                  <div class="alcohol col-xl-4">
                      <h1>Tragos Preparados</h1>
                      <img src="{% static '/foto/tragosPreparados.jpg' %}" alt="" >
                      <p>Los mejores tragos preparados de todo el país <br><br> $3.990<br></p >
                        <a href="/"class="btn btn-dark">Comprar</a>
                </div>
                </div>
                <div class="row">

                    <div class="comida col-xl">
                        <h1>Super combo cascarudo </h1>
                        <img src="{% static 'foto/comboCascarudo.jpg' %}" alt="" >
                        <p>Pan sésamo, salsa especial cascaruda, doble queso, doble hamburguesas de 100g gr de carne de res, aros de cebolla blanca, tomate, lechuga, pepinillos. <br>
                          <br><br>$4.990 </p >
                          <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
                    <div class="comida col-xl">
                        <h1>Pizza Cascaruda napolitana</h1>
                        <img src="{% static 'foto/pizza.jpg' %}" alt="" >
                        <p>Jamón Acaramelado, Tomate, Aceitunas negras y orégano, sobre base de queso mozarella, salsa pomodoro y otros quesos de la casa. <br>
                           <br><br> $4.990</p >
                          <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
                    <div class="comida col-xl">
                        <h1>Completo Cascarudo Italiano</h1>
                        <img src="{% static 'foto/completo.jpg' %}" alt="" >
                        <p>Pan lengua 26 cms, vienesa, palta, mayonesa casera. <br>
                          <br><br>$1.990</p >
                        <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="jugo col-xl">
                        <h1>Energeticas</h1>
                        <img src="{% static 'foto/energeticas.jpg' %}" alt="" >
                        <p>Tu energetica preferida la puedes encontrar acá <br>
                          Desde $2.990, Envios en todo Santiago desde $1.990 valor del envio varia según comuna.<br><br>Desde $1.990</p >
                          <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
                    <div class="jugo col-xl">
                        <h1>Bebestibles </h1>
                        <img src="{% static 'foto/bebidas.jpg' %}" alt="" >
                        <p>Tenemos licencia con CCU y Pepsico <br><br><br>$2.000 </p >
                          <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
                    <div class="jugo col-xl">
                        <h1>Jugos Natulares </h1>
                        <img src="{% static '/foto/jugos.jpg' %}" alt="" >
                        <p>La fruta que quieras, la tenemos. <br>
                          Desde $2.990, Envios en todo Santiago desde $1.990 valor del envio varia según comuna.<br><br>$2.000 </p >
                          <a href="/"class="btn btn-dark">Comprar</a>
                    </div>
              </div>
              </div>


            </div>
    </div>






    <footer class="ultimo col-xl-12">
    <p>Crustaceo Cascarudo </p>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </div>
  </body>
</html>
