{% load static %}



<!DOCTYPE html>
<html lang="es" dir="ltr">
  {% load pwa %}
  <head>
  {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/btnpwa.css' %}">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container col-xl-12">
      <header class="Encabezado">
          <a href= "/inicio/"> Bienvenido</a>
          <a href="/menu/">Menú</a>
          <a href="#">Compra aquí</a>
          


          <img src="{% static 'foto/logo.jpg' %}" alt="">
      </header>
      <div class="Formulario col-xl-12">
          <h1>Realiza tu compra </h1>
          <form method="POST" class="post-form">
          {% csrf_token %}
        
          <div class="col-xl-12">
            <label for="nombre">Nombre y Apellido</label>
            <input id="nombre" required  type="text" name="nombre" minlength="5"  placeholder="Ej:Nombre Apellido">
          </div>
          <br>
          <div class="col-xl-12">
            <label for="rut" >Rut</label>
            <input id="rut" type="text" name="rut" minlength="9" maxlength="10" placeholder="Ej:12345678-9">
          </div>
          <br>
          <div class="col-xl-12">
            <label for="correo">Correo</label>
            <input id="correo" required  type="text" name="correo"   placeholder="Ej:nombre@Correo.com">
          </div>
          <br>
          <div class="col-xl-12">
            <label for="fono">Telefono</label>
            <input id="fono" required  type="number" name="correo"  placeholder="Ej:9 9999 9999">
          </div>

          <br>

          <div class="col-xl-12">
            <label>Producto favorito</label>
            <select class="modelo" name="modelo">
              <option>Selecione una opción</option>
              <option>Super Combo Cascarudo</option>
              <option>Pizza Cascaruda Napolitana</option>
              <option>Completo Cascarudo Italiano</option>
              >

            </select>
          </div>

          <div class="col-xl-12">
            <label>Puntacion del producto</label>
            <select class="modelo" name="modelo">
              <option>Selecione una opción</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>

            </select>
          </div>
          <br>
          <div class="espacio col-xl-12">
            <label>Dirección para el envio (Solo si es para delivery) </label><br>

            <textarea name="name" rows="4" cols="60" placeholder="Dirección exacta"></textarea>
          </div>
          <br>

          <button type="submit" class="btn btn-primary btn btn-success">Enviar tus datos</button>




        </form>
        <div id="prompt" class="prompt hide bg-light border-top">
          <div class="font-weight-bold">Agregar Aplicación</div>
          <small>Esta aplicación web puede ser instalada</small>
          <div class="text-right">
            <button id="buttonCancel" type="button" class="font-weight-bold text-muted btn-sm btn btn-link">CANCELAR</button>
            <button id="buttonAdd" type="button" class="font-weight-bold text-primary btn-sm btn btn-link">ACEPTAR</button>
          </div>
    </div>
      </div>


      <footer class="ultimo col-xl-12">
        <p >Crustaceo Cascarudo </p>


      </footer>

    <script src="{% static 'js/javadoc.js' %}"></script>
    <script src="{% static 'js/btnpwa.js' %}"></script>  

  </body>
</html>
